/*---Style File created by EAC---*/

@charset 'UTF-8';
* {
margin: 0px;
padding: 0;
z-index: 0;}

body {
   background: #000 fixed; 
   font-family:Arial, Helvetica, sans-serif;
   font-size:16px;
   z-index: 0;
   
}

#wrapper{
	position: fixed;
	width: 100%;
	height: 6%;
	background-color: #fff; 
	box-shadow: 5px 5px 5px #24293D;
	z-index: 2;
}

#nav{
	overflow: inherit;
	position: relative;
	margin-left: 50%;
	margin-top: .92%;
}

ul li {
	overflow: inherit;
	background:transparent;
	list-style: none;
	height: 60px;
	width: auto;
	float: left;
	padding: 5px 5px;
	text-align:center;
}

ul li a {
	overflow: auto;
	color: #777;
	font-size:18px;
	font-weight:lighter;
	text-align:left;
	text-decoration: none;
	padding: 10px 10px;

}
ul li a:hover {
	color: #fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	background-color: #24293D;

}


#content{
	overflow: auto;
	background: repeat url(banner.png);
	height: 400px;
	width: auto;
}


#body{
	height: 500px;
	overflow: auto;
	width: 100%;
	color: #fff;
}

#members{
	height: 200px;
	width: 100%;
	background-color: #ccc;
}

#news{
	height: 600px;
	width: 100%;
	background-color: #cb0;
}

#ameis{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(ameis.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#love{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(love.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#floris{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(flory.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#kapoxa{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(kapy.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#mcc{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(mcc.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#melano{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(mela.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#cesy{
	overflow: auto;
	width: 140px;
	height: 140px;
	background: url(cesy.png);
	color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 6%;
	list-style-type: none;
	display: inline-block;
}

#leftColumn{
	overflow: auto;
	height: 380px;
	width: 280px;
	background: transparent;
	margin-left: 13%;
	margin-top: 2%;
	padding: 10px 10px;
	border: 1px #000 solid;
	border-radius: 10px;
}

#Column{
	position: relative;
	overflow: auto;
	height: 440px;
	width: 46%;
	background: transparent;
	margin: 1% 6%;
	padding: 10px 10px;
	text-align: center;
}

#text{
	height: auto;
	margin-bottom: 5%;
	border-bottom: 1px #000 solid;
}

.box{
	overflow: auto;
	width: 380px;
	height: 300px;
	background: transparent;
	margin: 1% 6%;
	border-radius: 10px;

	color: #fff;
	text-decoration: underline;
}

#img{
	width: 340px;
	height: 140px;
	background-color: #ccc;
	margin-left: 6%;
	border-radius: 10px;
}

#bottom{
	position: relative;
	overflow: auto;
	width: 100%;
	height: auto;
	background-color: #111;
	color: #fff;
}

#footer{
	position: relative;
	text-align: center;
	float: left;
	margin-left: 40%;
	margin-top: 1.5%;
}
